* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    
}

 
.navbar {
    position: fixed; /* Fixer la barre de navigation en haut */
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000; /* S'assurer que la navbar est au-dessus du contenu */
}

h1 {
    font-size: 2rem;
    color: #fff;
    text-align: center;
}

.auth-container {
    display: flex;
    flex-direction: column; /* Aligner les éléments en colonne */
    justify-content: center; /* Centrer verticalement */
    align-items: center; /* Centrer horizontalement */
    height: 400px; /* Hauteur fixe pour le carré */
    width: 400px; /* Largeur fixe pour le carré */
    margin-top: 150px; /* Ajouter un espace pour la navbar fixe */
}

.auth-form {
    background-color: rgba(255, 255, 255, 0.8); /* Fond légèrement transparent */
    border-radius: 10px;
    padding: 2rem;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 100%; /* Prendre toute la hauteur du conteneur */
}

h2 {
    font-size: 2rem;
    color: #333; /* Couleur du texte */
    text-align: center;
    margin-bottom: 1rem; /* Espacement en bas du titre */
}

.form-group {
    margin-bottom: 1rem; /* Espacement entre les groupes de formulaire */
}

label {
    display: block; /* Afficher le label en bloc */
    margin-bottom: 0.5rem; /* Espacement en bas du label */
    color: #333; /* Couleur du texte */
}

input {
    width: 100%; /* Prendre toute la largeur */
    padding: 0.5rem; /* Espacement interne */
    border: 1px solid #ccc; /* Bordure */
    border-radius: 5px; /* Coins arrondis */
}

.auth-button {
    width: 100%; /* Prendre toute la largeur */
    padding: 0.5rem; /* Espacement interne */
    border: none; /* Pas de bordure */
    border-radius: 5px; /* Coins arrondis */
    background-color: #ef940b; /* Couleur de fond */
    color: white; /* Couleur du texte */
    font-size: 1rem; /* Taille de la police */
    cursor: pointer; /* Curseur en main */
    transition: background-color 0.3s; /* Transition pour le changement de couleur */
}

.auth-button:hover {
    background-color: #f3b90c; /* Couleur de fond au survol */
}

.google-button {
    background-color: #4285F4; /* Couleur de fond de Google */
    color: white; /* Couleur du texte */
    border: none; /* Pas de bordure */
    padding: 10px 20px; /* Espacement */
    cursor: pointer; /* Curseur en main */
    border-radius: 5px; /* Coins arrondis */
    margin-top: 10px; /* Espacement au-dessus */
}

.google-button:hover {
    background-color: #357AE8; /* Couleur de fond au survol */
}